@import "vars.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
}

#unity-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
}

#unity-logo {
    width: 154px;
    height: 106px;
    background: url('Logo.png') no-repeat center;
    background-size: cover;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#unity-progress-bar-empty {
    margin-left: auto;
    margin-right: auto;
    width: 141px;
    height: 18px;
    margin-top: 10px;
    border: 2px solid var(--charcoal-grey);
    display: none;
}

#unity-progress-bar-full {
    width: 0;
    height: 100%;
    background-color: var(--lucky-lime);
}

#unity-init {
    color: var(--lucky-lime);
    text-align: center;
}